@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

body {
    background-color: #ffffff;
    padding: 5px;
    padding-left: 20px;
    font-family: "Manrope", sans-serif !important;
}
h1 {
    color: black;
    text-align: left;
    font-size: 60px;
    padding: 2px;
}
.top{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    height:20px;
    font-size:20px;
    text-decoration:none;
}

.link{
    text-decoration:none;
    font-size:25px;
}

.link:hover{
    text-decoration:underline;
}
.worktitle{
    color:#0011ff;
    font-size: 75px;
    font-weight:bold;
    margin:0px;
    padding-top:10px;
}

.phil {
    color:black;
    text-align: left;
    font-size: 30px;
    padding: 10px
}
.works {
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top:10px;
    padding-left: 10px;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    
}
.work{
    padding:5px;
    color:black;
    background-color: #ffffff;
    border: none;
    margin: 10px;
    font-size:20px;
    font-family: "Manrope", sans-serif;
}

.work:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bottom{
    display:flex;
    flex-direction: column;
    
}
hr{
    margin-top: 30px;
    color:black;
    height: 3px;
    background-color: black;
    width:100%;
}